body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

.headbar {
  display: flex;
  width: 95vw;
  justify-content: space-between;
}

.user {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em
}

.page {
  display: flex;
  justify-content: flex-end;
}

.authdata{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 95vw;
}